<div class="container">
  <div class="row borderGray ">
    <div class="col-md-5 position-relative px-0 border-left-rounded">
      <img src="../../assets/img/blur-care-cat-569170.jpg" class="" alt="">
    </div>
    <div class="col-md-7 border-right-rounded">
      <form [formGroup]="form" class="row justify-content-center py-4">
        <div class="col-md-8 text-center my-2">
          <i class="material-icons p-2">
            pets
          </i>
        </div>
        <mat-form-field class="col-md-8 my-2">
          <input matInput placeholder="Email" formControlName="emailFormControl" [errorStateMatcher]="matcher">
          <mat-hint></mat-hint>
          <mat-error *ngIf="(form.get('emailFormControl').hasError('pattern') || form.get('emailFormControl').hasError('email')) && !form.get('emailFormControl').hasError('required') && !form.get('emailFormControl').hasError('maxlength')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="form.get('emailFormControl').hasError('maxlength') && !form.get('emailFormControl').hasError('required')">
              Email must have less than
              <strong>255 characters</strong>
            </mat-error>
            <mat-error *ngIf="form.get('emailFormControl').hasError('required')">
                Email is
                <strong>required</strong>
              </mat-error>

            <mat-error *ngIf="form.get('emailFormControl').hasError('already')">
                Email already exist!
              </mat-error>
        </mat-form-field>
        <br>
        <ng-container formGroupName="passwords">

          <mat-form-field class="col-md-8 my-2">
            <input id="pwd1" matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'" [errorStateMatcher]="matcher">

            <mat-error *ngIf="this.form.get('passwords').get('password').hasError('mismatch') && !this.form.get('passwords').get('password').hasError('minlength') && !this.form.get('passwords').get('password').hasError('required') && !this.form.get('passwords').get('password').hasError('maxlength')">
                Password must match!
              </mat-error>
            <mat-error *ngIf="(this.form.get('passwords').get('password').hasError('minlength') || this.form.get('passwords').get('password').hasError('maxlength')) && !this.form.get('passwords').get('password').hasError('required')">
              Password must be between 8 and 20 characters!
            </mat-error>
            <mat-error *ngIf="this.form.get('passwords').get('password').hasError('required')">
              Password is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field id="pwd2" class="col-md-8 my-2">
            <input  matInput placeholder="Retype password" formControlName="passwordConfirm" [type]="hide ? 'password' : 'text'">
            <mat-error *ngIf="this.form.get('passwords').get('passwordConfirm').hasError('mismatch') && !this.form.get('passwords').get('passwordConfirm').hasError('minlength') && !this.form.get('passwords').get('passwordConfirm').hasError('required') && !this.form.get('passwords').get('passwordConfirm').hasError('maxlength')">
                Password must match!
              </mat-error>
            <mat-error *ngIf="(this.form.get('passwords').get('passwordConfirm').hasError('minlength') || this.form.get('passwords').get('passwordConfirm').hasError('maxlength')) && !this.form.get('passwords').get('passwordConfirm').hasError('required')">
              Password must be between 8 and 20 characters!
            </mat-error>
            <mat-error *ngIf="this.form.get('passwords').get('passwordConfirm').hasError('required')">
              Password is
              <strong>required</strong>
            </mat-error>


          </mat-form-field>
        </ng-container>
        <div class="col-md-8 text-center my-2">
          <button (click)="sendForm()" class="btn bg-success text-light btn-round px-3" mat-raised-button>Signup</button>
        </div>
      </form>
    </div>
  </div>
</div>
