<div class="container">
  <div *ngIf="petInfoFound" class="row">
    <div class="col-md-6">
      <img src="{{ petInfo.picture }}" class="img-fluid img-rounded w-100" alt="">
    </div>
    <div class="col-md-6">
      <p> Hi, my name is {{petInfo.name}} and I live temporarity in {{petInfo.location}}.
        <span></span>


        <br> {{petInfo.breed}} <br> {{petInfo.description}} <br> {{petInfo.gender}} <br>
        <br> {{petInfo.age}} <br> {{petInfo.size}} <br> {{petInfo.specie}} <br>
      </p>
    </div>
  </div>
</div>
