<div class="container mb-4">
  <div class="border-bottom">

    <h1 class="text-center">About Us</h1>
    <br>
    <div id="together" class="text-center">
      <p>Together we developed this webapp as a consequence of our love and appreciation for animals. Our mutual interest
        in both mathematics and programming led to our working together, and the robust back-end is a testament to our passion
        for building things with aim to the future. </p>
      </div>
    </div>
<br>
  <h2 class="text-center my-4">Our Team</h2>
  <br>

  <section>
    <div id="Cesar" class="team row row-eq-height border ">
      <div class="col-xl-5 col-lg-6 mx-xl-0 mx-lg-0 mx-md-5 px-0">
        <img src="../../assets/img/profilepicture2.jpg" class="img-fluid" alt="Cesar">
      </div>
      <div class="col-xl-7 col-lg-6 mx-xl-0 mx-lg-0 mx-md-5 my-auto ">

        <h4 class="text-center mt-3">Cesar Eduardo Garza</h4>
        <hr>
        <p>My name is Cesar Eduardo Garza; I'm one of the creators and developers of PetsRGV. I'm currently a student at
          UTRGV majoring in physics due to graduate in May 2019; I have five years experience tutoring advanced calculus
          and am extremely passionate about mathematics in general. I use those problem solving skills extensively to craft
          elegant yet robust code utilizing a variety of outside-the-box solutions. </p>

      </div>
    </div>
    <div id="Jaime" class="team row mt-5 row-eq-height">
      <div class="col-xl-5 col-lg-6 mx-xl-0 mx-lg-0 mx-md-5 order-lg-2 ppx-0">
        <img src="../../assets/img/IMG_4843.jpg" class="img-fluid" alt="Jaime">
      </div>

      <div class="col-xl-7 col-lg-6 mx-xl-0 mx-lg-0 mx-md-5 order-lg-1 my-auto">
        <h4 class="text-center mt-3">Jaime Meza</h4>
        <hr>
        <p>My name is Jaime Meza, and I'm also one of the creators and developers of PetsRGV. I've had a passion for programming
          since I was about 14 years old, which led to me eventually obtaining a degree in Computer Engineering. Though life
          took me in a different direction from programming for a few years, I found my way back to it and have been working
          hard to make it a big part of my life again. I enjoy thinking through and solving problems logically, and will
          only implement code that I can atomize and understand how each individual piece works together. As a result, I
          fully understand how every single line of code I write works and interacts with the app. </p>
      </div>
    </div>

  </section>

</div>
