<h3>Our Team</h3>
<section>
  <div id="Cesar" class="team">
    <img src="../../assets/img/profilepicture2.jpg" alt="Cesar">
      <h6>Cesar Eduardo Garza</h6>
      <p>My name is Cesar Eduardo Garza; I'm one of the creators and developers of PetsRGV. I'm currently a student at UTRGV majoring in physics due to graduate in May 2019; I have five years experience tutoring advanced calculus and am extremely passionate about mathematics in general. I use those problem solving skills extensively to craft elegant yet robust code utilizing a variety of outside-the-box solutions. </p>
  </div>
  <div id="Jaime" class="team">
    <img src="" alt="Jaime">
    <h6>Jaime Meza</h6>
      <p>My name is Jaime Meza, and I'm also one of the creators and developers of PetsRGV. I've had a passion for programming since I was about 14 years old, which led to me eventually obtaining a degree in Computer Engineering. Though life took me in a different direction from programming for a few years, I found my way back to it and have been working hard to make it a big part of my life again. I enjoy thinking through and solving problems logically, and will only implement code that I can atomize and understand how each individual piece works together. As a result, I fully understand how every single line of code I write works and interacts with the app. </p>
  </div>
  <div id="together" class="team">
    <p>Together we developed this webapp as a consequence of our love and appreciation for animals. Our mutual interest in both mathematics and programming led to our working together, and the robust back-end is a testament to our passion for building things with aim to the future. </p> 
  </div>
</section>