<div class="container-fluid">
  <mat-form-field>
    <mat-select [(ngModel)]="city" [disableOptionCentering]="true" placeholder="City">
      <mat-option value="">
        Any
      </mat-option>
      <mat-option value="Mcallen">
        Mcallen
      </mat-option>
      <mat-option value="Palmview">
        Palmview
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(ngModel)]="specie" [disableOptionCentering]="true" placeholder="Specie">
      <mat-option value="">
        Any
      </mat-option>
      <mat-option value="Dog">
        Dog
      </mat-option>

      <mat-option value="Cat">
        Cat
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button (click)="find()" color="primary">Find</button>
</div>
<br>
<mat-paginator [length]=pets.total [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent = $event">
</mat-paginator>
<div class="row">
  <mat-card *ngFor="let pet of pets.pets; index as i" class="example-card col-2 mx-4">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ pet.name }}</mat-card-title>
      <mat-card-subtitle>{{ pet.specie }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{ pet.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
