<div class="container-fluid">
  <mat-form-field>
    <mat-select [(ngModel)]="city" [disableOptionCentering]="true" placeholder="City">
      <mat-option value="">
        Any
      </mat-option>
      <mat-option value="Mcallen">
        Mcallen
      </mat-option>
      <mat-option value="Palmview">
        Palmview
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span> | </span>
  <mat-form-field>
    <mat-select [(ngModel)]="specie" [disableOptionCentering]="true" placeholder="Specie">
      <mat-option value="">
        Any
      </mat-option>
      <mat-option value="Dog">
        Dog
      </mat-option>

      <mat-option value="Cat">
        Cat
      </mat-option>
    </mat-select>
  </mat-form-field>

<span> | </span>
  <button mat-raised-button (click)="find()" color="primary">Find</button>
</div>
<br>

<!-- <div class="row justify-content-around">
  <mat-card *ngFor="let pet of pets.pets; index as i" class="example-card col-lg-3 m-3">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ pet.name }}</mat-card-title>
      <mat-card-subtitle>{{ pet.specie }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{ pet.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div> -->
<div class="row justify-content-around mx-3 row-eq-height">

  <div *ngFor="let pet of pets.pets; index as i" class="col-md-4">
    <!-- <h4 id=""><strong>{{ pet.name }}</strong></h4> -->

    <!--Description-->
    <p class="description"></p>

    <!--Section: Live preview-->
    <section>

      <!-- Card Wider -->
      <div class="card card-cascade wider mb-4">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight waves-effect waves-light"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center mx-4">

          <!-- Title -->
          <h4 class="card-title"><strong>{{ pet.name }}</strong></h4>
          <!-- Subtitle -->
          <h5 class="blue-text pb-2"><strong>{{ pet.specie }}</strong></h5>
          <!-- Text -->
          <p class="card-text">{{ pet.description }} </p>

          <!-- Linkedin -->
          <a class="px-2 fa-lg li-ic" (click)="moreInfo(pet)"><i class="fas fa-info-circle"></i></a>
          <!-- Twitter -->
          <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
          <!-- Dribbble -->
          <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>

        </div>

      </div>
      <!-- Card Wider -->

    </section>
    <!--Section: Live preview-->
  </div>

</div>
