<div class="container">
    <div class="row borderGray ">
      <div class="col-md-5 position-relative px-0 border-left-rounded">
        <img src="../../assets/img/blur-care-cat-569170.jpg" class="" alt="">
      </div>
      <div class="col-md-7 border-right-rounded">
        <form id="login" [formGroup]="form" class="row justify-content-center py-4">
          <div class="col-md-8 text-center my-2">
            <i class="material-icons p-2">
              pets
            </i>
          </div>
          <mat-form-field class="col-md-8 my-2">
            <input matInput placeholder="Email" formControlName="emailFormControl" [errorStateMatcher]="matcher">
            <mat-hint></mat-hint>
            <mat-error *ngIf="(form.get('emailFormControl').hasError('pattern') || form.get('emailFormControl').hasError('email')) && !form.get('emailFormControl').hasError('required') && !form.get('emailFormControl').hasError('maxlength')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="form.get('emailFormControl').hasError('maxlength') && !form.get('emailFormControl').hasError('required')">
                Email must have less than
                <strong>255 characters</strong>
              </mat-error>
              <mat-error *ngIf="form.get('emailFormControl').hasError('required')">
                  Email is
                  <strong>required</strong>
                </mat-error>

              <mat-error *ngIf="form.get('emailFormControl').hasError('already')">
                  Email already exist!
                </mat-error>
          </mat-form-field>
          <br>

            <mat-form-field class="col-md-8 my-2">
              <input id="pwd1" matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'" [errorStateMatcher]="matcher">
              <mat-error *ngIf="(this.form.get('password').hasError('minlength') || this.form.get('password').hasError('maxlength')) && !this.form.get('password').hasError('required')">
                Password must be between 8 and 20 characters!
              </mat-error>
              <mat-error *ngIf="this.form.get('password').hasError('required')">
                Password is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>

          <div class="col-md-9 text-center my-2 px-0">
            <button (click)="sendForm()" class="px-0 btn bg-success text-light btn-round px-3" mat-raised-button>Log in</button>
          </div>

          <div class="col-md-9 text-center my-2 px-0">
          -or-
          </div>
            <div class="col-md-8 text-center my-2 px-0">
                <button (click)="auth.facebook()" class="px-0 btn bg-facebook text-light btn-round px-3" mat-raised-button><i class="fab fa-facebook-square"></i> Continue with Facebook</button>

          </div>
          <div routerLink="/signup" class="col-md-8 text-center my-2 text-muted">
            <a class="px-3" >Don't have an account?</a>
          </div>
        </form>
      </div>
    </div>
  </div>

