<mat-sidenav-container class="container-fluid px-0 " *ngIf="!auth.shouldRun">
  <mat-sidenav class="h-100" #sidenav mode="over" position="end" [(opened)]="auth.opened" (opened)="auth.events.push('open!')"
    (closed)="auth.events.push('close!')">
    <div class="sidebar mt-2 " data-color="green" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

            Tip 2: you can also add an image using data-image tag
        -->

        <mat-chip-list class="mx-4 mat-chip-list-stacked nav flex-column align-content-center">
          <mat-chip routerLink="home" routerLinkActive="active" class="nav-item">
            <a class="nav-link">
              <i class="fas fa-home"></i>
              <p>Home</p>
            </a>
          </mat-chip>
          <mat-chip routerLink="centers" routerLinkActive="active" class="nav-item">
            <a class="nav-link">
              <i class="fas fa-building"></i>
              <p>Centers</p>
            </a>
          </mat-chip>
          <mat-chip routerLink="about" routerLinkActive="active" class="nav-item">
            <a class="nav-link">
              <i class="fas fa-users"></i>
              <p>About</p>
            </a>
          </mat-chip>
          <mat-chip [matMenuTriggerFor]="menu" routerLink="dashboard" routerLinkActive="active" *ngIf="userIsAuthenticated" class="nav-item">
            <a class="nav-link">
              <i class="material-icons">dashboard</i>
              <p class="mx-auto" *ngIf="userName">{{ userName }}</p>

              <i class="fas fa-angle-down"></i>
            </a>
          </mat-chip>
          <mat-menu #menu="matMenu">
              <button routerLink="dashboard/likes" routerLinkActive="active" *ngIf="userIsAuthenticated && usertype == '1'" class="nav-item" mat-menu-item>
                <a class="nav-link">
                  <i class="fas fa-heart"></i>
                  <p>Likes</p>
                </a>
              </button>
              <button routerLink="dashboard/petregister" routerLinkActive="active" *ngIf="userIsAuthenticated && usertype == '2'" class="nav-item" mat-menu-item>
                <a class="nav-link">
                  <i class="fas fa-heart"></i>
                  <p>Pet Register</p>
                </a>
              </button>
              <button routerLink="dashboard/editpet" routerLinkActive="active" *ngIf="userIsAuthenticated && usertype == '2'" class="nav-item" mat-menu-item>
                <a class="nav-link">
                  <i class="fas fa-heart"></i>
                  <p>Edit Pets</p>
                </a>
              </button>
            <button routerLink="dashboard/changepw" routerLinkActive="active" *ngIf="userIsAuthenticated" class="nav-item" mat-menu-item>
              <a class="nav-link">
                <i class="fas fa-key"></i>
                <p>Change Password</p>
              </a>
            </button>
            <button routerLink="dashboard/options" routerLinkActive="active" *ngIf="userIsAuthenticated" class="nav-item" mat-menu-item>
              <a class="nav-link">
                <i class="fas fa-cog"></i>
                <p>Options</p>
              </a>
            </button>
            <button (click)="auth.doLogout()" *ngIf="userIsAuthenticated" class="nav-item" mat-menu-item>
              <a class="nav-link">
                <i class="fas fa-sign-out-alt"></i>
                <p>Log off</p>
              </a>
            </button>
          </mat-menu>
          <mat-chip routerLink="signup" [ngClass]="this.router.url == '/login' || this.router.url == '/signup' ? 'active' : ''" *ngIf="!userIsAuthenticated" class="nav-item">
            <a class="nav-link">
              <i class="material-icons">person</i>
              <p>Login / Signup</p>
            </a>
          </mat-chip>
        </mat-chip-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <div class="navbar-translate justify-content-around">
      <div>
        <a class="navbar-brand p-0" routerLink="home">

          <img src="../../assets/img/templogo.jpeg" alt="" class="p-0 m-0" style="width: 70px">Pets RGV
          {{ this.userName }}</a>
        </div>
        <div (click)="toggle()">
        <i class="material-icons">
            menu
            </i>
          </div>
    </div> -->
    <nav class="navbar  navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand p-0" routerLink="home">
        <img src="../../assets/img/templogo.jpeg" alt="" class="p-0 m-0">Pets RGV
      </a>
      <button class="navbar-toggler" type="button" (click)="toggle()" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <mat-chip-list class="ml-auto nav align-content-center">
          <mat-chip routerLink="home" routerLinkActive="active" class="nav-item">
            <a class="nav-link">
              <i class="fas fa-home"></i>
              <p>Home</p>
            </a>
          </mat-chip>
          <mat-chip routerLink="centers" routerLinkActive="active" class="nav-item">
            <a class="nav-link">
              <i class="fas fa-building"></i>
              <p>Centers</p>
            </a>
          </mat-chip>
          <mat-chip routerLink="about" routerLinkActive="active" class="nav-item">
            <a class="nav-link">
              <i class="fas fa-users"></i>
              <p>About</p>
            </a>
          </mat-chip>
          <mat-chip  [matMenuTriggerFor]="menu" [ngClass]="this.router.url == '/dashboard/likes' || this.router.url == '/dashboard/options' || this.router.url == '/dashboard/changepw' || this.router.url == '/dashboard/options#_=_' ? 'active' : ''" *ngIf="userIsAuthenticated" class="nav-item">
            <a class="nav-link">
              <i class="material-icons">dashboard</i>
              <p class="mx-auto" *ngIf="userName">{{ userName }}</p>

              <i class="fas fa-angle-down"></i>
            </a>
          </mat-chip>
          <mat-menu  [overlapTrigger]="false" #menu="matMenu">
              <button routerLink="dashboard/likes" routerLinkActive="active" *ngIf="userIsAuthenticated && usertype == '1'" class="nav-item" mat-menu-item>
                <a class="nav-link">
                  <i class="fas fa-heart"></i>
                  <p>Likes</p>
                </a>
              </button>
              <button routerLink="dashboard/petregister" routerLinkActive="active" *ngIf="userIsAuthenticated && usertype == '2'" class="nav-item" mat-menu-item>
                <a class="nav-link">
                  <i class="fas fa-heart"></i>
                  <p>Pet Register</p>
                </a>
              </button>
              <button routerLink="dashboard/editpet" routerLinkActive="active" *ngIf="userIsAuthenticated && usertype == '2'" class="nav-item" mat-menu-item>
                <a class="nav-link">
                  <i class="fas fa-heart"></i>
                  <p>Edit Pets</p>
                </a>
              </button>
            <button routerLink="dashboard/changepw" routerLinkActive="active" *ngIf="userIsAuthenticated" class="nav-item" mat-menu-item>
              <a class="nav-link">
                <i class="fas fa-key"></i>
                <p>Change Password</p>
              </a>
            </button>
            <button routerLink="dashboard/options" routerLinkActive="active" *ngIf="userIsAuthenticated" class="nav-item" mat-menu-item>
              <a class="nav-link">
                <i class="fas fa-cog"></i>
                <p>Options</p>
              </a>
            </button>
            <button (click)="auth.doLogout()" *ngIf="userIsAuthenticated" class="nav-item" mat-menu-item>
              <a class="nav-link">
                <i class="fas fa-sign-out-alt"></i>
                <p>Log off</p>
              </a>
            </button>
          </mat-menu>
          <mat-chip routerLink="signup" [ngClass]="this.router.url == '/login' || this.router.url == '/signup' ? 'active' : ''" *ngIf="!userIsAuthenticated" class="nav-item">
            <a class="nav-link">
              <i class="material-icons">person</i>
              <p>Login / Signup</p>
            </a>
          </mat-chip>
        </mat-chip-list>
      </div>
    </nav>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <nav class="navbar navbar-default navbar-expand-lg">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand p-0" routerLink="home">
        <img src="../../assets/img/templogo.jpeg" alt="" class="p-0 m-0" style="width: 70px">Pets RGV</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="login" class="btn btn-white btn-round btn-raised ">
            Login
          </a>
        </li>
        <li routerLink="dashboard" *ngIf="userIsAuthenticated" class="nav-item">
          <a class="btn btn-white btn-round btn-raised ">
            {{ userEmail }}
          </a>
        </li>
        <li (click)="this.auth.doLogout()" *ngIf="userIsAuthenticated" class="nav-item">
          <a class="btn btn-white btn-round btn-raised ">
            Logout
          </a>
        </li>
        <li *ngIf="!userIsAuthenticated" class="nav-item">
          <a routerLink="signup" class="btn bg-success text-light btn-raised btn-round " data-toggle="dropdown">
            Register
          </a>
        </li>
        <li  class="nav-item">
          <a (click)="auth.isAuthenticated()" class="btn bg-success text-light btn-raised btn-round " data-toggle="dropdown">
            Register
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet> -->
