.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}

.mat-card-image {
  height: 200px;
}

p {
  height: 80px;
}

.material-icons{
  font-size: 4rem;
  color: #1c69af;
}

